# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# Eclipse
.project
.classpath
.settings/

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

# Gradle
.gradle/
build/

#IDEA
# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.jython_cache/

# system ignore
.DS_Store
Thumbs.db
